/* src/components/ColumnGroupsIntegration/styles.css */

.column-groups-integration {
    margin-bottom: 20px;
  }
  
  .integration-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  @media (min-width: 992px) {
    .integration-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }